* {
  border: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.shipping {
  background-color: #F285C1 ;
  text-align: center;
  color: #fbd3e9;
  font-size: 8px;
  padding: 0.5rem;
}

header.principal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 4rem;
  background-color: #F2DCEB;
  position: relative;
}

header .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header .logo img {
  width: 250px; 
  height: auto;
}

.icons-banner {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 4rem; 
}

.icons-banner img {
  width: 2rem;
}

.categorias-banner {
  display: flex;
  font-size: 0.7rem;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
}

.categorias-banner li {
  display: flex;
  align-items: center;
  font-optical-sizing: auto;
  font-weight: 500;
}

.categorias-banner a {
  text-decoration: none;
  display: block;
  padding: 5px 0;
  line-height: 1;
  z-index: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    #f30669,
    #eb0a67 50%,
    #ed83b5 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.3s ease-in-out;
  &:before {
    display: block;
    content: '';
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 0;
    bottom: -3px;
    z-index: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    background-position: 0%;
    &:before {
      width: 100%;
    }
  }
}

.banner-principal {
  display: flex;
  justify-content: space-evenly;
}

.banner-principal img {
  margin: 0;
  padding: 0;
  width: 100%;
}

.banner-principal div {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Cutney';
  font-size: 6rem;
  color: #ff2e9f;
}

.banner-principal button {
  background-color: #ed83b5;
  border-radius: 100px;
  box-shadow: rgba(245, 75, 180, 0.35) 0 -25px 18px -14px inset,
    rgba(238, 44, 151, 0.25) 0 1px 2px, rgba(187, 44, 132, 0.25) 0 2px 4px,
    rgba(231, 41, 190, 0.25) 0 4px 8px, rgba(187, 44, 175, 0.25) 0 8px 16px,
    rgba(235, 27, 217, 0.25) 0 16px 32px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Montserrat';
  font-weight: 600;
}

.banner-principal button:hover {
  transform: scale(1.3) rotate(-1deg);
}

.categorias {
  display: flex;
  padding: 5%;
  background-color: #f2e3e6;
}

.categorias div {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.text p:first-child {
  font-family: 'Montserrat';
  font-size: 3rem;
  font-weight: 800;
  color: #ec297b;
}

.text p {
  font-size: 2rem;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.delicado {
  color: #8e44ad;
}

.artesanal {
  color: #2980b9;
}

.hermoso {
  color: #c0392b;
}

.artistico {
  color: #16a085;
}

.cultural {
  color: #2c3e50;
}

section .lista {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  padding: 1rem;
}

section .grid-images {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 2rem;
}

.grid-images img {
  height: 100%;
  width: 100%;
}

.banner-med {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  justify-items: center;
  text-align: center;
  background-color: #fbf9f1;
  padding: 5%;
}

.new {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}

.sale {
  padding: 5%;
  text-align: center;
  color: #fbf9f1;
  background: #fbd3e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #bb377d,
    #fbd3e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bb377d,
    #fbd3e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  padding: 5%;
}
